/* generic styles */
table:not(.horizontal) {
	max-height: none;
}

form.inline {
	display: inline-block;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

table td button, table td input {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

table td::before {
	margin-right: 1rem;
}

table td {
	border-top-color: var(--table-border-separator-color);
}

button {
	margin: calc(var(--universal-margin) / 2);
}

.inputAddon{
	margin-left: calc(-0.5*var(--universal-padding) - 1px);
	border-radius: 0 var(--universal-border-radius) var(--universal-border-radius) 0;
}

h1 a{
	color: var(--fore-color) !important;
}

/* hide genkey if we don't have native crypto support */
body.crypto .generateKey {
	display: inline-block;
}

.generateKey {
	display: none;
}

/* cleanup table entries */
td[data-label='Auth'], th[data-label='Auth']{
	white-space: nowrap;
}

td[data-label='Auth'] .authKey{
	min-width: 110px;
	margin-left: auto;
}

/* form */
button.primary{
	flex: auto;
	justify-content: center;
}

.addForm > .row > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.addForm label {
	flex-basis: 120px;
}

.addForm input, .addForm select {
	flex: auto;
}

/* media queries */
@media (min-width: 768px) {
	td[data-label='Name'], td[data-label='Expire']{
		line-height: 2.5rem;
		font-size: calc(1rem * var(--heading-ratio));
	}

	td[data-label='Notes']{
		padding-top: calc(3 * var(--universal-padding));
		padding-bottom: calc(3 * var(--universal-padding));
	}

	button.primary{
		flex: 0.5;
	}
}

@media (min-width: 1024px) {
	h1{
		margin-top: 4rem;
	}
	.container{
		min-width: 1000px;
		max-width: 1400px;
		width: 70%;
	}
}

/* un-flexbox the table */
@media screen and (min-width: 768px) {
	table {
		width: 100%;
		display: block;
	}

	table thead, table tbody {
		display: table-row-group;
	}

	table tr {
		display: table-row;
	}
}